body {
    align-items: center;
}
#main-card {
    width: 400px;
    margin: auto;
}

#display {
    width: 400px;
    height: 98px;
    display: flex;
    background-color: lightgray;
    align-items: center;
    justify-content: right;
}

#calculator-card {
    display: flex;
    flex-direction: column;
}

#top-section{
    display: flex;
}

#left-section {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

#right-section {
    width: 100px;
    display: flex;
    flex-wrap: wrap;
}

#bottom-section {
    width: 400px;
    display: flex;
}

.button {
    background-color: aliceblue;
    width: 98px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px lightblue;
}


#clear-button, #equal-button {
    width: 200px;
}

#equal-button {
    background-color: aliceblue;   
}

#clear-button {
    background-color: aliceblue;
}
